.lkt-anchor {
    display: var(--lkt-anchor--display);
    position: var(--lkt-anchor--position);
    align-items: var(--lkt-anchor--align-items);
    justify-content: var(--lkt-anchor--justify-content);
    gap: var(--lkt-anchor--gap);
    color: var(--lkt-anchor--color);
    font-family: var(--lkt-anchor--font-family), serif;
    font-size: var(--lkt-anchor--font-size);
    font-weight: var(--lkt-anchor--font-weight);
    letter-spacing: var(--lkt-anchor--letter-spacing);
    text-decoration: var(--lkt-anchor--text-decoration);
    transition: var(--lkt-anchor--transition);
    padding: var(--lkt-anchor--padding);
    text-align: var(--lkt-anchor--text-align);
    width: var(--lkt-anchor--width);
    height: var(--lkt-anchor--height);
}

.lkt-anchor-active {
    color: var(--lkt-anchor--active--color);
    text-decoration: var(--lkt-anchor--active--text-decoration);
}

.lkt-anchor:hover {
    color: var(--lkt-anchor--hover--color);
    text-decoration: var(--lkt-anchor--hover--text-decoration);
}

.lkt-anchor img {
    max-width: var(--lkt-anchor--img--max-width);
    max-height: var(--lkt-anchor--img--max-height);
}

.lkt-anchor.is-disabled {
    cursor: text;
    color: var(--lkt-anchor--disabled--color);
    text-decoration: var(--lkt-anchor--disabled--text-decoration);
}

.lkt-anchor.is-disabled:hover {
    color: var(--lkt-anchor--disabled--hover--color);
    text-decoration: var(--lkt-anchor--disabled--hover--text-decoration);
}