.lkt-anchor {
    display: inline-flex;
    align-items: var(--lkt-anchor-align-items);
    justify-content: var(--lkt-anchor-justify-content);
    gap: var(--lkt-anchor-gap);
    color: var(--lkt-anchor-color);
    font-family: var(--lkt-anchor-font-family), serif;
    font-size: var(--lkt-anchor-font-size);
    font-weight: var(--lkt-anchor-font-weight);
    letter-spacing: var(--lkt-anchor-letter-spacing);
    text-decoration: var(--lkt-anchor-text-decoration);
    transition: var(--lkt-anchor-transition);
    padding: var(--lkt-anchor-padding);
    text-align: var(--lkt-anchor-text-align);
    width: var(--lkt-anchor-width);
}

.lkt-anchor-active {
    color: var(--lkt-anchor-color-active);
    text-decoration: var(--lkt-anchor-text-decoration-active);
}

.lkt-anchor:hover {
    color: var(--lkt-anchor-color-hover);
    text-decoration: var(--lkt-anchor-text-decoration-hover);
}

.lkt-anchor img {
    max-width: var(--lkt-anchor-img-max-width);
    max-height: var(--lkt-anchor-img-max-height);
}