.lkt-anchor {
    --lkt-anchor--align-items: center;
    --lkt-anchor--background: transparent;
    --lkt-anchor--color: #444444;
    --lkt-anchor--display: inline-flex;
    --lkt-anchor--flex-direction: row;
    --lkt-anchor--font-family: system-ui, Helvetica;
    --lkt-anchor--font-size: 16px;
    --lkt-anchor--font-weight: 400;
    --lkt-anchor--gap: 7px;
    --lkt-anchor--height: auto;
    --lkt-anchor--justify-content: center;
    --lkt-anchor--letter-spacing: 0;
    --lkt-anchor--line-height: 1.425;
    --lkt-anchor--text-align: center;
    --lkt-anchor--text-decoration: underline;
    --lkt-anchor--transition: all linear 100ms;
    --lkt-anchor--padding: 0;
    --lkt-anchor--position: relative;
    --lkt-anchor--width: auto;

    /** State: Disabled */
    --lkt-anchor--disabled--background: transparent;
    --lkt-anchor--disabled--color: #cccccc;
    --lkt-anchor--disabled--text-decoration: none;

    /** State: Disabled, Event: Hover */
    /** State: Disabled */
    --lkt-anchor--disabled--hover--background: transparent;
    --lkt-anchor--disabled--hover--color: #cccccc;
    --lkt-anchor--disabled--hover--text-decoration: var(--lkt-anchor--disabled--text-decoration);

    /** State: Active */
    --lkt-anchor--active--background: transparent;
    --lkt-anchor--active--color: #007ebc;
    --lkt-anchor--active--text-decoration: underline;

    /** State: Active, Event: Hover */
    --lkt-anchor--active--hover--background: transparent;
    --lkt-anchor--active--hover--color: #007ebc;
    --lkt-anchor--active--hover--text-decoration: underline;

    /** Event: Hover */
    --lkt-anchor--hover--background: transparent;
    --lkt-anchor--hover--color: #007ebc;
    --lkt-anchor--hover--text-decoration: underline;

    /** Element: Image */
    --lkt-anchor--img--max-width: 50px;
    --lkt-anchor--img--max-height: 50px;
}